<footer class="panel-footer">

    <p class="pull-right">
        <a href="#top">回到顶部</a>
    </p>
    <div class="container text-center">
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本站的地址：<a href="http://haoxilu.net">haoxilu.net</a>&nbsp;
        </p>
        <p>Copyright &copy; 2015 郝喜路 All Rights Reserved &nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn/">京ICP备15036713号</a> </p>
    </div>
</footer>
