 <nav class="navbar navbar-inverse  navbar-fixed-top navbar-static-top" role="navigation" id="menu-nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("index","home")">ILife，ICode！！爱生活，爱编程！！</a>
        </div>
        <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="@Url.Action("index","home")">首页</a></li>
                <li><a href="http://haoxilu.cnblogs.com" target="_blank">博客园</a></li>
                <li><a href="https://github.com/haoxilu" target="_blank">GitHub</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">微博<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="http://weibo.com/haoxilu" target="_blank">新浪微博</a></li>
                        <li class="divider"></li>
                        <li><a href="http://t.qq.com/haoxilu" target="_blank">腾讯微博</a></li>
                    </ul>
                </li>
                <li><a href="#">Rss订阅</a></li>
                <li><a href="#" data-toggle="modal" data-target="#about-modal">关于我</a></li>
            </ul>
        </div>
    </div>
</nav>
