<nav id="sidebar" role="navigation" class="navbar-default navbar-static-side">
    <div class="sidebar-collapse menu-scroll">
        <ul id="side-menu" class="nav">
            <li class="user-panel">
                <div class="thumb">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" alt="" class="img-circle" />
                </div>
                <div class="info">
                    <p>John Doe</p>
                    <ul class="list-inline list-unstyled">
                        <li>
                            <a href="extra-profile.html" data-hover="tooltip" title="Profile"><i class="fa fa-user"></i></a>
                        </li>
                        <li>
                            <a href="email-inbox.html" data-hover="tooltip" title="Mail"><i class="fa fa-envelope"></i></a>
                        </li>
                        <li>
                            <a href="#" data-hover="tooltip" title="Setting" data-toggle="modal" data-target="#modal-config"><i class="fa fa-cog"></i></a>
                        </li>
                        <li>
                            <a href="extra-signin.html" data-hover="tooltip" title="Logout"><i class="fa fa-sign-out"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="active">
                <a href="index.html">
                    <i class="fa fa-suitcase fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">分类</span>
                </a>
            </li>
            <li>
                <a href="http://madmin.swlabs.co/" target="_blank">
                    <i class="fa fa-bullhorn fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Angular JS Version</span><span class="label label-violet">v4.0</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-laptop fa-fw">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">分类管理</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("category", "category")"><i class="fa fa-rocket"></i><span class="submenu-title">文章分类</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("tag", "category")"><i class="fa fa-tags "></i><span class="submenu-title">文章标签</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-book fa-fw">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">文章管理</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("list","posts")"><i class="fa fa-list"></i><span class="submenu-title">文章</span></a>
                    </li>
                </ul>
            </li>

            <!--li.charts-sum<div id="ajax-loaded-data-sidebar"></div>-->
        </ul>
    </div>
</nav>
