@{
    ViewBag.Title = "文章列表";
    Layout = "~/Areas/AdminArea/Views/Shared/_LayoutPage.cshtml";
}

@section breadcrumb{
    <li><i class="glyphicon glyphicon-book"></i>&nbsp;<a href="@Request.RawUrl">文章管理</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
    <li class="active">文章列表</li>
}

<div class="col-lg-12" ng-controller="PostsListController">
    <div class="portlet box">
        <div class="portlet-header">
            <div class="caption">文章列表 </div>
            <div class="actions">
                <a class="btn btn-info btn-xs" ng-click="create('@Url.Action("create")')" href="#">
                    <i class="fa fa-plus"></i>
                    添加文章
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row mbm">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table id="table_id" class="table table-hover table-striped table-bordered table-advanced tablesorter display">
                            <thead>
                                <tr>
                                    <th width="43%">标题</th>
                                    <th width="10%">发布状态</th>
                                    <th width="10%">评论</th>
                                    <th width="10%">页面浏览</th>
                                    <th width="27%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in items">
                                    <td>{{item.title}}</td>
                                    <td>{{item.statusDescription}}</td>
                                    <td>{{item.commentcount}}</td>
                                    <td>{{item.pvcount}}</td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="edit(item.id,'@Url.Action("create")')">
                                            <i class="fa fa-edit"></i>&nbsp; 编辑
                                        </button>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="remove(item.id)">
                                            <i class="glyphicon glyphicon-trash"></i>&nbsp; 删除
                                        </button>
                                        <a href="/articles/{{item.id}}.html" target="_blank" class="btn btn-default btn-xs"><i class="fa fa-eye"></i>&nbsp;预览</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @* 页码 *@
                    <div class="text-center">
                        <ul class="pagination mtm mbm">
                            <li>
                                <a href="#" ng-click="prevPager()" ng-show="prevShow">Previous</a>
                            </li>
                            <li ng-repeat="page in pageItems" ng-class="{active:page.isActive}">
                                <a href="#" ng-click="pagerClick(page.index)">{{page.index}}</a>
                            </li>
                            <li>
                                <a href="#" ng-click="nextPager()" ng-show="nextShow">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section script{
    <script src="~/Areas/AdminArea/Content/js/page/BlogListCommon.js"></script>
    <script src="~/Areas/AdminArea/Content/js/page/posts_list.js"></script>
}